.home-bearing {
	height: 500px;
}

.design {
	font-size: 10px;
}

.dude {
	width: 500px;
	height: 80vh;
}

.power {
	text-decoration: none;
	border: 2px solid black;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #69a1c1;
	color: white;
	width: 300px;
}

.power:active {
	background-color: white;
	color: #69a1c1;
}
.power:focus-within {
	background-color: white;
	color: #69a1c1;
}
.power:hover {
	background-color: white;
	color: #69a1c1;
}

.product-tab ul {
	list-style-type: none;
}

.detail {
	max-width: 60%;
	max-height: 100%;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}

.product-img {
	width: 500px;
	display: none;
}

.detail-text {
	text-align: justify;
	max-height: 100%;
	display: none;
}

.detail-img {
	max-width: 100%;
	max-height: 100%;
}

.product ul {
	display: none;
}

.caption {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

.transmission {
	border: 0px solid red;
}

#product-item {
	height: 180px;
	width: 270px;
}

.product-item {
	max-width: 100%;
	min-width: 100%;
}
