.home-bearing{
    height: 500px;
}

.design{
    font-size: 10px;
}

.dude{
    width: 500px;
    height: 80vh;

}

.power{
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    background-color:#69A1C1 ;
    color: white;
    width: 300px;
}

